In [1]:
import pytesseract
import cv2

pytesseract.pytesseract.tesseract_cmd = 'C:/Program Files/Tesseract-OCR/tesseract.exe'  # your path may be different

# Loading the image
image = cv2.imread('fiscal-bill-images/05-06-2023-lidl.png')

# Preprocess the image
gray = cv2.cvtColor(image, cv2.COLOR_BGR2GRAY)  # Convert the image to grayscale
threshold = cv2.threshold(gray, 0, 255, cv2.THRESH_BINARY | cv2.THRESH_OTSU)[1]  # Apply binary thresholding

# Set Tesseract configuration parameters for better extraction
custom_config = r'--oem 3 --psm 6'

# Perform OCR using PyTesseract
text = pytesseract.image_to_string(threshold, config=custom_config, lang='eng')  # Extract text from the preprocessed image

text  # Print the extracted text

'Kopija racuna\nBle\nTo]\n| i 1 ‘\n=Sesss======= OVCKANHM PAUYH ============\n106884584\nLIDL SRBIJA\n1057444-Prodavnica br. 0155\n@YTOWUKM NYT 48\nHospu Cag\nKacup: 34\nECUP 6poj: 625/12.08.09.60\n------------ [POMET MPOAAJA ------------\nApTMKau\nHa3vBe- Lena Kon. YkKyNHO\nBurek sa sirom/KOM (E)\n41,99 3 125,97\nPegéenica dimljena/KOM (b)\n\n109,99 1 109,99\nMortadela s maslin./KOM (Bb)\n\n139,99 1 139,99\nBaget/KOM (E)\n\n89,99 1 89,99\nParadajz grap./KG (E)\n\n169,99 0,806 137,01\nKulen/KOM (5b)\n\n299,99 1 299,99\nSalata kristal./KOM (E)\n\n69,99 1 69,99\nTuna paSteta 95g/KOM (hb)\n\n102,99 1 102,99\nCoca Cola/KOM (b)\n\n239,99 1 239,99\nGrozde crno bes/KOM (E)\n\n149,99 2 299,98\nBanane, rinfuz/KG (E)\n\n179,99 0,722 129,95\nBela kajzerica/KOM (E)\n\n11,99 4 47,97\nKrompir b. mlad/KG (E)\n\n129,99 1,334 173,41\nAmadori C¢ure¢a krila/KG (E)\n\n329,99 1,108 365,63\nYkynaH W3HOC: 2.332,85\nTOTOBUHa: 2.000 ,00\nTOTOBUHa: 1.000,00\nnoBpahaj: 667,00\nO3HaKa Vime Ctona Nope3\nB 0-néB 20, 00% 148,83\nE n-nAB 10, 00% 130,90\nYkynaH W3HOC Nope3a: 279,73\nNOP Bpeme: 05.06.2023. 13:54:22\nNOP 6poj payyHa: UT3JGR3Y-UT3JGR3Y-276522\nBpojay pauyua: 272860/276522MN\n=sessss=== KPAJ OUCKAHOP PAYYHA ========\n0155 455020/02 05.06.2023 13:54:11\nBurek sa sirom/KOM\n\n3x 62,99 188,97 E\nCena nakon popusta: 125,97\nTuna paSteta 95g/KOM\n1x 139,99 139,99 B\nCena nakon popusta: 102,99\nBela kajzerica/KOM\n4x 15,99 63,96 E\nCena nakon popusta: 47,97\nUkupna usteda 115,99\nUsteda uz Lidl Plus\n52,99 RSD\nHvala sto koristite Lidl Plus\nbbl bea 2 ee\nagent U NOes\noy irene ec Reh\nee As aed\nSS ea\nae a Bets -\nMA Ba oe oe PE a A\n- arte aye: ae eT\nRu serote lanes\nea a fy et it arr xf\nOp eae ae career gee\nPovrat neprehrambenih artikala je mogué uz papirni ili digitalni raéun i originalno\npakovanje u roku od 30 dana ed datuma kupovine.\nHVALA VAM 5TO KUPUJETE UZ LIDL PLUS\nMesto kupovine\nNovi Sad - Futoski put\nFutoski put 48\n21000 Novi Sad\nDetalji prodavnice\nIskoriSéeni kuponi\nVY 3+1GRATIS - Bela kajzerica\nKupon vaii od 31/05/2023 do 07/06/2023 ih do isteka zaliha Cene su izrazene\nudmarma, sa PDV-om Da bi popust bio obraéunat, potrebno ye da se kupon\nprethodno aktivira1 da se Lidl Plus digitalna kartica skeniva na kast Nakon\naktivacye, kupon je moguée iskoristit samo jednom Razliéite viste popusta nye\nmoguée sabirat: na istom ariklu. Fotografija ne mora u potpunosti da odgovara\nstyarnom izgledu proizvoda\nVY ~26% POPUST - Tuna pasteta\nProizvodi su dostupm do isteka zaliha il do zavrSetka akcyskog perioda Mote\nsé desitt da se proizvodi rasprodaju pre kraya trayanya akeye Koliéme akeyskih\nproizvoda po kupcu mogu bit: ograméene Nakon Sto dobyes Grebalicu mas |\ndan da ye ogrebes, Nakon Sto je ogrebes, kupon prelaziu deo sa kuponma ma’\n7 dana da ga skonst3 Cene su izrazene u dmarma, sa PDV-om Da bi popust bio\nobracunat, potrebno je da se kupon prethodno aktrvira1 da se Lidl Plus cigitalna\nkartica skentra na kas1 Kupon je moguée iskoristit samo jednom, nakon Zea\née nestati 1z aphikacye Popuste mye moguée kombmovat Fotografija ne mora uw\npotpunost da odgovara stvarnom izgledu proizvoda\n'

The goal is the extract the name of the product and the price. We can notice that we need data that comes after 'Ha3vBe- Lena Kon. YkKyNHO\n' and until '\nYkynaH W3HOC'

In [2]:
start_string = 'Ha3vBe- Lena Kon. YkKyNHO\n'  # Define the starting substring
end_string = '\nYkynaH W3HOC'  # Define the ending substring

def find_substring(string, substring):
    """
    Find the index of the first occurrence of a substring within a string.

    Args:
        string (str): The string to search within.
        substring (str): The substring to find.

    Returns:
        int: The index of the first occurrence of the substring, or -1 if not found.
    """
    index = string.find(substring)  # Use the find() method to locate the substring
    return index

start_index = find_substring(text, start_string) + len(start_string)  # Find the start index of the desired substring
end_index = find_substring(text, end_string)  # Find the end index of the desired substring

articles = text[start_index:end_index]  # Extract the substring between the start and end indices
articles

'Burek sa sirom/KOM (E)\n41,99 3 125,97\nPegéenica dimljena/KOM (b)\n\n109,99 1 109,99\nMortadela s maslin./KOM (Bb)\n\n139,99 1 139,99\nBaget/KOM (E)\n\n89,99 1 89,99\nParadajz grap./KG (E)\n\n169,99 0,806 137,01\nKulen/KOM (5b)\n\n299,99 1 299,99\nSalata kristal./KOM (E)\n\n69,99 1 69,99\nTuna paSteta 95g/KOM (hb)\n\n102,99 1 102,99\nCoca Cola/KOM (b)\n\n239,99 1 239,99\nGrozde crno bes/KOM (E)\n\n149,99 2 299,98\nBanane, rinfuz/KG (E)\n\n179,99 0,722 129,95\nBela kajzerica/KOM (E)\n\n11,99 4 47,97\nKrompir b. mlad/KG (E)\n\n129,99 1,334 173,41\nAmadori C¢ure¢a krila/KG (E)\n\n329,99 1,108 365,63'

In [3]:
lines = articles.split('\n')  # Split the extracted substring into a list of lines using the newline character as the delimiter
clean_lines = []  # Initialize an empty list to store the clean lines

for i in range(len(lines)):
    if lines[i] != '':
        clean_lines.append(lines[i])  # Append non-empty lines to the clean_lines list

In [4]:
clean_lines

['Burek sa sirom/KOM (E)',
 '41,99 3 125,97',
 'Pegéenica dimljena/KOM (b)',
 '109,99 1 109,99',
 'Mortadela s maslin./KOM (Bb)',
 '139,99 1 139,99',
 'Baget/KOM (E)',
 '89,99 1 89,99',
 'Paradajz grap./KG (E)',
 '169,99 0,806 137,01',
 'Kulen/KOM (5b)',
 '299,99 1 299,99',
 'Salata kristal./KOM (E)',
 '69,99 1 69,99',
 'Tuna paSteta 95g/KOM (hb)',
 '102,99 1 102,99',
 'Coca Cola/KOM (b)',
 '239,99 1 239,99',
 'Grozde crno bes/KOM (E)',
 '149,99 2 299,98',
 'Banane, rinfuz/KG (E)',
 '179,99 0,722 129,95',
 'Bela kajzerica/KOM (E)',
 '11,99 4 47,97',
 'Krompir b. mlad/KG (E)',
 '129,99 1,334 173,41',
 'Amadori C¢ure¢a krila/KG (E)',
 '329,99 1,108 365,63']

In [5]:
def create_df(lines):
    import pandas as pd

    # Create an empty data frame with two columns: 'article name' and 'price'
    df = pd.DataFrame(columns=['article name', 'price'])
    
    # Iterate through the lines list, processing two lines at a time
    for i in range(int(len(lines)/2)):
        # Extract the article name from the first line by splitting it at '/' and taking the first part
        article_name = lines[2*i].split('/')[0]
        
        # I want exactly this format =Price*quantity because in excel / google cheets this will automatically compute the price
        # Later on I can modifty just the quantity variable
        price = '='+lines[2*i+1].split()[0].replace(',', '.')+"*"+lines[2*i+1].split()[1].replace(',', '.')

        # Create a dictionary representing a row with the article name and price
        row = {'article name': article_name, 'price': price}

        # Concatenate the new row to the data frame, ignoring the index to ensure consecutive indexing
        df = pd.concat([df, pd.DataFrame([row])], ignore_index=True)
    
    # Return the populated data frame
    return df

# Call the create_df function with the clean_lines input and assign the resulting data frame to the variable df
df = create_df(clean_lines)

# Print the resulting data frame
df

             article name          price
0          Burek sa sirom       =41.99*3
1      Pegéenica dimljena      =109.99*1
2     Mortadela s maslin.      =139.99*1
3                   Baget       =89.99*1
4          Paradajz grap.  =169.99*0.806
5                   Kulen      =299.99*1
6         Salata kristal.       =69.99*1
7        Tuna paSteta 95g      =102.99*1
8               Coca Cola      =239.99*1
9         Grozde crno bes      =149.99*2
10         Banane, rinfuz  =179.99*0.722
11         Bela kajzerica       =11.99*4
12        Krompir b. mlad  =129.99*1.334
13  Amadori C¢ure¢a krila  =329.99*1.108

In [6]:
# Export the data frame to a tab-separated text file named 'exported_products.txt'
# The 'sep' parameter specifies the delimiter as a tab character
# The 'index' parameter is set to False to exclude the index column in the exported file
# The 'header' parameter is set to False to exclude the column headers in the exported file
df.to_csv('exported_products.txt', sep='\t', index=False, header=False)

# Export the data frame to a CSV file named 'data.csv'
# The 'index' parameter is set to False to exclude the index column in the exported file
df.to_csv('exported_products.csv', index=False)